<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Flask App</title>
</head>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-black w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item w3-center">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Profile</a>
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">About</a>
</div>

<!-- Page Content -->
<div style="margin-left:10%">

    <div class="w3-container w3-teal">
      <h1>ServiceNow Automatic Problem Recognizer</h1>
    </div>
    
    <div class="w3-container">
        <form class="w3-container">
            <h2>Hoverable Inputs</h2>
            <p>Move the mouse over the input fields:</p>
          
            
            <p><input class="w3-input w3-border w3-hover-teal" type="text"></p>
            <p><input class="w3-input w3-border w3-hover-teal" type="text"></p>
        </form>
    </div>
    
</div>

</body>
</html>